---
layout: default
---
<div class="hero-unit home-page">
  <h1>Lean Data Practices for Civil Society Organizations</h1>
  <p>Build trust with your members and reduce operational risk.</p>
</div>

<div class="home-page lesson-content">
  <div class="intro"></div>
  <div>{{ content }}</div>
  
  {% if page.following %}
 {% assign next = site.articles | where: "path", page.following | first %}
 <a class="btn btn-lg btn-default btn-next" href="{{ next.url | prepend: site.baseurl }}">
Step 1:
{{ next.title }} &nbsp;
<i class="fa fa-play" aria-hidden="true"></i>
</a>
<br />
{% endif %}

  
  **Get smart on issues affecting your online life. Sign up to receive our newsletter**
  
  <form id="newsletter_form" name="newsletter_form" action="https://www.mozilla.org/en-US/newsletter/" method="post">
                <input type="hidden" id="fmt" name="fmt" value="H">
                <input type="hidden" id="newsletters" name="newsletters" value="mozilla-and-you">

                <div id="newsletter_errors" class="newsletter_errors"></div>

                <div id="newsletter_email" class="form_group">
                    <label for="email" class="form_label">E-mail</label>
                    <input type="email" id="email" name="email" class="form_input" required placeholder="you@example.com" size="30">
                </div>

                <div id="newsletter_privacy" class="form_group form_group-agree">
                    <input type="checkbox" id="privacy" name="privacy" required>
                    <label for="privacy">
                        I'm okay with Mozilla handling my info as explained in this <a href="https://www.mozilla.org/privacy/">Privacy Policy</a>.
                    </label>
                </div>
                <div id="newsletter_submit">
                    <button id="newsletter_submit" type="submit" class="btn btn-leandata">Sign up</button>
                </div>
</form>
<script src="basket-client.js"></script>
  
  
</div>
